<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=1600, initial-scale=1.0" />
        <title>test</title>
    </head>
    <body>
        <button id="kakao">kakao</button>
        <button id="login">login</button>
        <button id="update">update</button>
        <button id="delete">delete</button>

        <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
        <script src="/models/service/Auth/front.js" type="module"></script>
    </body>
</html>
